
<div class="content padding-top-navbar">
  <div class="banner-analyses" style="background-image: linear-gradient(-225deg, rgba(116, 235, 213, 0.5) 0%, rgba(172, 182, 229, 0.5) 100%);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <button class="accordion">
            <div class="col-xs-3">
              <div class="green score round" style="background-image: url('<%= asset_path "green-medal.png"  %>');">
              </div>
            </div>
            <div class="col-xs-9 text-center analyses-header">
              <p>Mentions Légales</p>
            </div>
          </button>
          <div class="panel">
<!--               <p><%#= @analysis.identification_url == "" ? "No identification url" : @analysis.identification_url  %></p>
 -->        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <%= image_tag "red-cross.png", size: "20x20" %></p>
            <p>Cras nunc diam, commodo sit amet velit eget <%= image_tag "green-tick.png", size: "20x20" %></p>
            <p>Fusce scelerisque massa viverra nulla congue <%= image_tag "red-cross.png", size: "20x20" %></p>
            <p>Vestibulum condimentum eu ex nec ullamcorper <%= image_tag "green-tick.png", size: "20x20" %></p>
            <p>Curabitur porta auctor lectus at interdum <%= image_tag "red-cross.png", size: "20x20" %></p>
            <p>Aliquam sollicitudin porta tincidunt <%= image_tag "green-tick.png", size: "20x20" %></p>
            <p>Mauris vel ipsum ante <%= image_tag "green-tick.png", size: "20x20" %></p>
            <p>Proin faucibus dignissim euismod <%= image_tag "green-tick.png", size: "20x20" %></p>
            <p>Donec posuere luctus purus, nec dictum sapien <%= image_tag "red-cross.png", size: "20x20" %></p>
            <p>Cras lobortis eu quam id consectetur <%= image_tag "red-cross.png", size: "20x20" %></p>
            <p> Curabitur elit elit, feugiat eget pulvinar eu, ultricies id nibh <%= image_tag "green-tick.png", size: "20x20" %></p>
            <p>Sed at lacus a nisi sodales porta <%= image_tag "green-tick.png", size: "20x20" %></p>
            <br>
            <p><small>Lien: <i>http://www.namvolutpatsuscipittincidunt.com/</i></small></p>
          </div>
          <button class="accordion">
            <div class="col-xs-3">
              <div class="red score round" style="background-image: url('<%= asset_path "red-medal.png"  %>');">
              </div>
            </div>
            <div class="col-xs-9 text-center analyses-header">
              <p>CGU / CGV</p>
            </div>
          </button>
          <div class="panel">
<!--               <p><%#= @analysis.cgvu_url == "" ? "No CGVU url" : @analysis.cgvu_url %></p>
 -->            <p>Lorem ipsum...</p>
          </div>
          <button class="accordion">
            <div class="col-xs-3">
              <div class="green score round" style="background-image: url('<%= asset_path "green-medal.png"  %>');">
              </div>
            </div>
            <div class="col-xs-9 text-center analyses-header">
              <p>Cookies</p>
<!--             </div>
             <%  a = @analysis.cookie_system.cookie_usage
                  b = @analysis.cookie_system.cookie_user_agreement

                  # banner but cookies without consent
                  cookie_score = "5/10" if a && b
                  # banner and no cookies without consent
                  cookie_score = "10/10" if !a && b
                  # no banner and cookies without consent
                  cookie_score = "0/10" if a && !b
                  # no banner and no cookies without consent
                  cookie_score = "10/10" if !a && !b
               %>

              <p> <%= cookie_score %></p>
          </div> -->
            </div>
          </button>
          <div class="panel">
<!--               <p><%#= @analysis.cookie_system_url == "" ? "No Cookie url" : @analysis.cookie_system_url%></p>
 -->            <p>Lorem ipsum...</p>
          </div>
          <button class="accordion">
            <div class="col-xs-3">
              <div class="orange score round" style="background-image: url('<%= asset_path "orange-medal.png"  %>');">
              </div>
            </div>
            <div class="col-xs-9 text-center analyses-header">
              <p>Données Confidentielles</p>
            </div>
          </button>
          <div class="panel">
<!--               <p><%#= @analysis.data_privacy_url == "" ? "No Data privacy url" : @analysis.data_privacy_url %></p>
 -->            <p>Lorem ipsum...</p>
          </div>
        </div>
        <div class="accordion-medal">
          <div class="col-md-6">
          <div class="score-image">
            <div class="score-image-divide" style="background-image: url('<%= asset_path "green-medal.png"  %>');">
              <h1>Résultat <strong>100/100</strong></h1>
            </div>
            <div class="panel-medal">
              <p>Lorem ipsum...</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
