<div class="content padding-top-navbar" style="background-image: linear-gradient(-225deg, rgba(116, 235, 213, 0.5) 0%, rgba(172, 182, 229, 0.5) 100%);">
  <div class="container banner-analyses">
    <div class="row">
    <div class="col-md-5 panel-summary">
          <div class="panel-medal">
            <div class="score-image-divide green score round" style="background-image: url('<%= asset_path "green-medal.png"  %>');">
<!--               <h1><%= @analysis.total_score %></h1>
              <h2>/100</h2> -->
              <div class="container-gauge">
                  <div id="g1" class="gauge" data-analysis-score="<%= @analysis.total_score %>"></div>
              </div>
            </div>
            <p><%= URI.parse(@analysis.website_url).host %></p>
            <%= link_to 'Recevoir par email', "#", class:"btn btn-medium" %>
                      <button class="accordion bouton-mentions-legales">
                        <div class="col-xs-3">
                          <% if @analysis.identification != nil %>
                            <% if @analysis.identification.score > 33.33  %>
                              <div class="green score round" style="background-image: url('<%= asset_path "green-medal.png"  %>');">
                                <h1><%= @analysis.identification_url != "" ? @analysis.identification.score.to_i : "0" %></h1>
                                <h2>/50</h2>
                              </div>
                            <% elsif @analysis.identification.score > 16.66 %>
                              <div class="orange score round" style="background-image: url('<%= asset_path "orange-medal.png"  %>');">
                                <h1><%= @analysis.identification_url != "" ? @analysis.identification.score.to_i : "0" %></h1>
                                <h2>/50</h2>
                              </div>
                            <% else %>
                              <div class="red score round" style="background-image: url('<%= asset_path "red-medal.png"  %>');">
                                <h1><%= @analysis.identification_url != "" ? @analysis.identification.score.to_i : "0" %></h1>
                                <h2>/50</h2>
                              </div>
                            <% end %>
                          <% else %>
                            <div class="red score round" style="background-image: url('<%= asset_path "red-medal.png"  %>');"></div>
                          <% end %>
                        </div>
                        <div class="col-xs-9 text-center analyses-header">
                          <p>Mentions Légales</p>
                        </div>
                      </button>

                     <!--  <button class="accordion">
                        <div class="col-xs-3">

                          <%# if @analysis.cgvu != nil %>
                            <%# if @analysis.cgvu.score > 33.33  %>
                              <div class="green score round" style="background-image: url('<%#= asset_path "green-medal.png"  %>');">
                              </div>
                            <%# elsif @analysis.cgvu.score > 16.66 %>
                              <div class="orange score round" style="background-image: url('<%#= asset_path "orange-medal.png"  %>');">
                              </div>
                            <%# else %>
                              <div class="red score round" style="background-image: url('<%#= asset_path "red-medal.png"  %>');">
                              </div>
                            <%# end %>
                          <%# else %>
                            <div class="red score round" style="background-image: url('<%#= asset_path "red-medal.png"  %>');">
                          <%# end %>

                        </div>
                        <div class="col-xs-9 text-center analyses-header">
                          <p>CGU / CGV</p>
                          <p><%#= @analysis.cgvu_url != "" ? @analysis.cgvu.score.round(2) : "0" %>/25</p>
                        </div>
                      </button> -->
                      <button class="accordion bouton-cookies">
                        <div class="col-xs-3">

                          <% if @analysis.cookie_system != nil %>
                            <% if @analysis.cookie_system.score > 33.33  %>
                              <div class="green score round" style="background-image: url('<%= asset_path "green-medal.png"  %>');">
                                <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                <h2>/50</h2>
                              </div>
                            <% elsif @analysis.cookie_system.score > 16.66 %>
                              <div class="orange score round" style="background-image: url('<%= asset_path "orange-medal.png"  %>');">
                                <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                <h2>/50</h2>
                              </div>
                            <% else %>
                              <div class="red score round" style="background-image: url('<%= asset_path "red-medal.png"  %>');">
                                <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                <h2>/50</h2>
                              </div>
                            <% end %>
                          <% else %>
                            <div class="red score round" style="background-image: url('<%= asset_path "red-medal.png"  %>');">
                              <h1><%= @analysis.cookie_system.score.to_i%></h1>
                              <h2>/50</h2>
                            </div>
                          <% end %>

                        </div>
                        <div class="col-xs-9 text-center analyses-header">
                          <p>Cookies</p>
                        </div>
                      </button>

                      <!-- <button class="accordion">
                        <div class="col-xs-3">
                          <div class="orange score round" style="background-image: url('<%#= asset_path "orange-medal.png"  %>');">
                          </div>
                        </div>
                        <div class="col-xs-9 text-center analyses-header">
                          <p>Données Confidentielles</p>
                        </div>
                      </button> -->

            <!--  DEBUT DU PLACEHOLDER A DELETER -->
                                                    <button class="accordion bouton-cgvu">
                                                        <div class="col-xs-3">

                                                          <% if @analysis.cookie_system != nil %>
                                                            <% if @analysis.cookie_system.score > 33.33  %>
                                                              <div class="green score round" style="background-image: url('<%= asset_path "green-medal.png"  %>');">
                                                                <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                                                <h2>/50</h2>
                                                              </div>
                                                            <% elsif @analysis.cookie_system.score > 16.66 %>
                                                              <div class="orange score round" style="background-image: url('<%= asset_path "orange-medal.png"  %>');">
                                                                <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                                                <h2>/50</h2>
                                                              </div>
                                                            <% else %>
                                                              <div class="red score round" style="background-image: url('<%= asset_path "red-medal.png"  %>');">
                                                                <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                                                <h2>/50</h2>
                                                              </div>
                                                            <% end %>
                                                          <% else %>
                                                            <div class="red score round" style="background-image: url('<%= asset_path "red-medal.png"  %>');">
                                                              <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                                              <h2>/50</h2>
                                                            </div>
                                                          <% end %>

                                                        </div>
                                                        <div class="col-xs-9 text-center analyses-header">
                                                          <p>CGU / CGV</p>
                                                        </div>
                                                      </button>


                                                                <button class="accordion bouton-dataprivacy">
                                                                  <div class="col-xs-3">

                                                                    <% if @analysis.cookie_system != nil %>
                                                                      <% if @analysis.cookie_system.score > 33.33  %>
                                                                        <div class="green score round" style="background-image: url('<%= asset_path "green-medal.png"  %>');">
                                                                          <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                                                          <h2>/50</h2>
                                                                        </div>
                                                                      <% elsif @analysis.cookie_system.score > 16.66 %>
                                                                        <div class="orange score round" style="background-image: url('<%= asset_path "orange-medal.png"  %>');">
                                                                          <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                                                          <h2>/50</h2>
                                                                        </div>
                                                                      <% else %>
                                                                        <div class="red score round" style="background-image: url('<%= asset_path "red-medal.png"  %>');">
                                                                          <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                                                          <h2>/50</h2>
                                                                        </div>
                                                                      <% end %>
                                                                    <% else %>
                                                                      <div class="red score round" style="background-image: url('<%= asset_path "red-medal.png"  %>');">
                                                                        <h1><%= @analysis.cookie_system.score.to_i%></h1>
                                                                        <h2>/50</h2>
                                                                      </div>
                                                                    <% end %>
                                                                  </div>
                                                                  <div class="col-xs-9 text-center analyses-header">
                                                                    <p>Données Confidentielles</p>
                                                                  </div>
                                                                </button>

            <!--  FIN DU PLACEHOLDER A DELETER -->

</div>

    </div>
    <div class="col-md-7 panel-results">
      <div class="panel panel-mentions-legales">
          <% if @analysis.identification %>
            <p> Vos mentions légales : <%= link_to @analysis.identification_url, @analysis.identification_url %></p>
            <br>
            <p><% if @analysis.identification.company_name_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Raison Sociale</p>
             <p><% if @analysis.identification.legal_form_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Forme Juridique</p>
             <p><% if @analysis.identification.address_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Siège Social</p>
             <p><% if @analysis.identification.capital_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Capital Social</p>
             <p><% if @analysis.identification.email_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Adresse de courrier électronique</p>
             <p><% if @analysis.identification.phone_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Numéro de téléphone</p>
             <p><% if @analysis.identification.rcs_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Numéro d'inscription RCS</p>
             <p><% if @analysis.identification.tva_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Numéro individuel d'identification fiscale</p>
             <p><% if @analysis.identification.publication_director_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Nom du directeur de la publication</p>
             <p><% if @analysis.identification.host_name_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Raison Sociale de l'hébergeur</p>
             <p><% if @analysis.identification.host_address_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Adresse de l'hébergeur</p>
             <p><% if @analysis.identification.host_phone_presence %>
                <%= image_tag "green-tick.png", size: "20x20" %>
               <% else  %>
                <%= image_tag "red-cross.png", size: "20x20"  %>
               <% end  %>
              Numéro de téléphone de l'hébergeur</p>
            <p><small><i><a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228">Source officielle</a></i></small></p>
          <% else %>
            <p> Il semblerait que votre site internet ne possède pas de Mentions Légales</p>
          <% end %>
        </div>
                  <div class="panel panel-cookies">
        <!--               <p><%#= @analysis.cookie_system_url == "" ? "No Cookie url" : @analysis.cookie_system_url%></p>
         -->           <% if @analysis.cookie_system_url != ""  %>
                         <p> Votre page d'information pour les cookies : <%= link_to @analysis.cookie_system_url , @analysis.cookie_system_url %></p>
                      <% elsif @analysis.cookie_system_url == "" && @analysis.cookie_system.cookie_usage %>
                        <p> Il semblerait que votre site internet ne possède pas de page d'information facilement accesssible sur l'usage de vos cookies.</p>
                        <% else %>
                      <% end %>

                      <br>
                      <% if @analysis.cookie_system.cookie_usage %>
                        <p><%= image_tag "red-cross.png", size: "20x20"  %>Vous utilisez des cookies sans acceptation explicite de l'utilisateur.</p>
                              <% if @analysis.cookie_system.cookie_user_agreement %>
                              <p><%= image_tag "green-tick.png", size: "20x20" %>Vous informez l'utilisateur sur l'usage de vos cookies</p>
                             <% else  %>
                              <p><%= image_tag "red-cross.png", size: "20x20"  %>Vous ne semblez pas informer de manière suffisante sur l'usage de vos cookies</p>
                             <% end  %>
                         <% else  %>
                            <p><%= image_tag "green-tick.png", size: "20x20" %>Vous ne semblez pas utiliser de cookies sans acceptation explicite de l'utilisateur.</p>
                         <% end  %>
<div id="codeSnippet">
<pre>
<code>
Exemple de code
</code>
</pre>
</div>
                    <p><small><i><a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228">Source officielle</a></i></small></p>
                </div>

                <div class="panel panel-cgvu">
                    <p><%#= @analysis.cgvu_url == "" ? "No CGVU url" : @analysis.cgvu_url %></p>
                   <p>Lorem ipsum...</p>
                </div>
                <div class="panel panel-dataprivacy">
                     <p><%#= @analysis.data_privacy_url == "" ? "No Data privacy url" : @analysis.data_privacy_url %></p>
                   <p>Lorem ipsum...</p>
                </div>
    </div>
</div>
</div>
</div>
