<!-- <p><%= @analysis.identification_url == "" ? "No identification url" : @analysis.identification_url  %></p> -->
<!-- <p><%= @analysis.cgvu_url == "" ? "No CGVU url" : @analysis.cgvu_url %></p> -->
<!-- <p><%= @analysis.cookie_system_url == "" ? "No Cookie url" : @analysis.cookie_system_url%></p> -->
<!-- <p><%= @analysis.data_privacy_url == "" ? "No Data privacy url" : @analysis.data_privacy_url %></p> -->

<div class="content padding-top-navbar">
  <div class="banner-analyses" style="background-image: linear-gradient(-225deg, rgba(116, 235, 213, 0.5) 0%, rgba(172, 182, 229, 0.5) 100%);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="red score round" style="background-image: linear-gradient(-225deg, rgba(116, 235, 213, 0.6) 0%, rgba(172, 182, 229, 0.6) 100%), url('<%= asset_path "balance.png"  %>');">
            </div>
          </div>
          <div class="card">
            <div class="red score round" style="background-image: linear-gradient(-225deg, rgba(116, 235, 213, 0.6) 0%, rgba(172, 182, 229, 0.6) 100%), url('<%= asset_path "balance.png"  %>');">
            </div>
          </div>
          <div class="card">
            <div class="orange score round" style="background-image: linear-gradient(-225deg, rgba(116, 235, 213, 0.6) 0%, rgba(172, 182, 229, 0.6) 100%), url('<%= asset_path "balance.png"  %>');">
            </div>
          </div>
          <div class="card">
            <div class="green score round" style="background-image: linear-gradient(-225deg, rgba(116, 235, 213, 0.6) 0%, rgba(172, 182, 229, 0.6) 100%), url('<%= asset_path "balance.png"  %>');">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <br>
          <div class="score-image">
            <div class="score-image-divide" style="background-image: url('<%= asset_path "green-medal.png"  %>');">
              <h1>Résultat <strong>100/100</strong></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
