<div class="content padding-top-navbar">
  <div class="container banner-analyses">
    <div class="row-analyses">
      <div class="col-md-5 panel-summary">
        <div class="panel-medal">
          <div id="score-header-remote">
            <%= render 'analyses/score_header', analysis: @analysis %>
          </div>


          <div id="identification-header-remote">
            <%= render 'analyses/identification_header', identification: @analysis.identification, analysis: @analysis %>
          </div>


          <div id="cookie-header-remote">
            <%= render 'analyses/cookie_header', cookie_system: @analysis.cookie_system %>
          </div>

          <div id="cgvu-header-remote">
            <%= render 'analyses/cgvu_header', analysis: @analysis %>
          </div>

<!--             <div id="data-privacy-header-remote">
              <%#= render 'analyses/_data_privacy_header', analysis: @analysis %>
            </div> -->
        </div>
      </div>
      <div class="col-md-7 panel-results">
        <div id="identification-panel-remote">
          <%= render 'analyses/identification_panel', analysis: @analysis %>
        </div>

        <div id="cookie-panel-remote">
          <%= render 'analyses/cookie_panel', analysis: @analysis %>
        </div>

        <div id="cgvu-panel-remote">
          <%= render 'analyses/cgvu_panel', analysis: @analysis %>
        </div>

        <!-- <div id="data-privacy-panel-remote">
          <%#= render 'analyses/data_privacy_panel', analysis: @analysis %>
        </div> -->
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <script>


    App['identification_for_analysis_<%= @analysis.id %>'] = App.cable.subscriptions.create(
      { channel: 'IdentificationChannel', analysis_id: <%= @analysis.id %> },
      {
        received: function(data) {
          var i_header = document.getElementById('identification-header-remote');
          i_header.innerHTML = data.identification_header_partial;
          var i_panel = document.getElementById('identification-panel-remote');
          i_panel.innerHTML = data.identification_panel_partial;
          panelShow("mentions-legales");
          var s_header = document.getElementById('score-header-remote');
          s_header.innerHTML = data.score_header_partial;
          jauge(".gauge");
        }
      }
    );

    App['cgvu_for_analysis_<%= @analysis.id %>'] = App.cable.subscriptions.create(
      { channel: 'CgvuChannel', analysis_id: <%= @analysis.id %> },
      {
        received: function(data) {
          var cg_header = document.getElementById('cgvu-header-remote');
          cg_header.innerHTML = data.cgvu_header_partial;
          var cg_panel = document.getElementById('cgvu-panel-remote');
          cg_panel.innerHTML = data.cgvu_panel_partial;
          panelShow("cgvu");
          var s_header = document.getElementById('score-header-remote');
          s_header.innerHTML = data.score_header_partial;
          jauge(".gauge");
        }
      }
    );

    App['cookie_system_for_analysis_<%= @analysis.id %>'] = App.cable.subscriptions.create(
      { channel: 'CookieSystemChannel', analysis_id: <%= @analysis.id %> },
      {
        received: function(data) {
          var c_header = document.getElementById('cookie-header-remote');
          c_header.innerHTML = data.cookie_header_partial;
          var c_panel = document.getElementById('cookie-panel-remote');
          c_panel.innerHTML = data.cookie_panel_partial;
          panelShow("cookies");
          var s_header = document.getElementById('score-header-remote');
          s_header.innerHTML = data.score_header_partial;
          jauge(".gauge");
        }
      }
    );
    // App['score_for_analysis_<%= @analysis.id %>'] = App.cable.subscriptions.create(
    //   { channel: 'ScoreChannel', analysis_id: <%= @analysis.id %> },
    //   {
    //     received: function(data) {
    //       var s_header = document.getElementById('score-header-remote');
    //       s_header.innerHTML = data.score_header_partial;
    //       jauge(".gauge");
    //     }
    //   }
    // );
    App['presence_for_analysis_<%= @analysis.id %>'] = App.cable.subscriptions.create(
      { channel: 'PresenceChannel', analysis_id: <%= @analysis.id %> },
      {
        received: function(data) {
        }
      }
    );

  </script>
<% end %>
