<style> .navbar-wagon{ display: none; } </style>

<div class="banner-landing" style="background-image: linear-gradient(-225deg, rgba(116, 235, 213, 0.5) 0%, rgba(172, 182, 229, 0.5) 100%), url('<%= asset_path "banner-home-photo.jpg"  %>');">
  <div class="banner-content">
    <div class="container">
      <div class="row">
          <div class="col-xs-6 col-sm-8 col-lg-12">
            <div class="body">
              <div class="home-logo">
              <%=image_tag("logo.png", alt: "Onorm")%>
              </div>
              <div class="wrapper">
                <%# form_tag(analysis_path, method: "get") do %>
                <%#= text_field_tag(:website_url) %>
                <%# submit_tag("") %>

                <%= simple_form_for @analysis do |f| %>
                  <div class=''>
                    <%= f.input :website_url, class: "search", id: "search" %>
                    <%= f.submit class: "submit", value: "" %>
                  </div>
                <% end %>

                <form action: %>>
                  <input class="search" type="text" id="search" />
                  <input class="submit" type="submit" value="" />
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="slogan">
    <h2><strong>L'assistant juridique intelligent de votre MVP</strong></h2>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 banner_customer_interview_text">
      <p>Grâce à Onorm, j'ai pu lancer mon MVP en toute sérénité. Mes mentions légales ont été vérifiées et leur légalité certifiée.</p>
      <div class="identity">
        <div>
          <%= image_tag("no_profile_picture_male 2.jpg", class:"avatar-large") %>
        </div>
        <div>
          <div>
            <b>Titi</b>
          </div>
          <div>
            Cofondateur de Grosminet
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 banner_customer_interview_text">
      <p>Au moment de démarrer ma marketplace, je me suis aperçu que j'avais totalement négligé de m'assurer de la conformité juridique de mes CGV. En quelques clics, Onorm s'est chargé de tout vérifier.</p>
      <div class="identity">
        <div>
          <%= image_tag("no_profile_picture_male 2.jpg", class:"avatar-large") %>
        </div>
        <div>
          <div>
            <b>Jack Ma</b>
          </div>
          <div>
            Fondateur d'Alibaba
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 banner_customer_interview_text">
      <p>La dataprivacy devient un élément clé de toute activité en ligne. Grâce à sa technologie et ses équipes juridiques, Onorm nous accompagne au quotidien pour faire de ces points de vigilance une simple formalité.</p>
      <div class="identity">
        <div>
          <%= image_tag("no_profile_picture_male 2.jpg", class:"avatar-large") %>
        </div>
        <div>
          <div>
            <b>Sergueï Brin & Larry Page</b>
          </div>
          <div>
            cofondateurs d'Alphabet
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'VERS ANALYSE SHOW', "/analyses/:id", class: "btn btn-primary" %>
</div>

